<table>
  <caption>Results</caption>
  <thead>
  <tr>
    <% if current_user.from_usa? %>
        <th>First name</th>
        <th>Last name</th>
    <% else %>
        <th>Last name</th>
        <th>First name</th>
    <% end %>
    <th>Score</th>
    <% if current_user.games.present? %>
        <th>Wins</th>
        <th>Draws</th>
        <th>Loses</th>
        <th>% of wins</th>
        <th>% of draws</th>
        <th>% of loses</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
      <% css_class = if index.zero? then 'winner' elsif index < 10 then 'top10' elsif index > @users.count - 3 then 'bottom3' else '' end %>
      <tr class="<%= css_class %>">
        <td class="<%= user == current_user ? 'border' : '' %>"><%= user.first_name %></td>
        <td class="<%= user == current_user ? 'border' : '' %>"><%= user.last_name %></td>
        <td><%= user.score %></td>
        <% if user.games.present? %>
            <td><%= user.wins.count %></td>
            <td><%= user.draws.count %></td>
            <td><%= user.loses.count %></td>
            <td><%= "#{number_to_percentage((user.wins.count / user.games.count.to_f) * 100, precision: 0)}" %></td>
            <td><%= "#{number_to_percentage((user.draws.count / user.games.count.to_f) * 100, precision: 0)}" %></td>
            <td><%= "#{number_to_percentage((user.loses.count / user.games.count.to_f) * 100, precision: 0)}" %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td>Players: <%= @users.count %></td>
    <td>Games: <%= Game.count %></td>
    <td></td>
    <% if current_user.games.present? %>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    <% end %>
  </tr>
  </tfoot>
</table>