<table>
  <caption>Results</caption>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Score</th>
    <% if current_user.games.present? %>
        <th>Wins</th>
        <th>Draws</th>
        <th>Loses</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
      <tr class="<%= 'winner' if index.zero? %>">
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.score %></td>
        <% if user.games.present? %>
            <td><%= user.wins.count %></td>
            <td><%= user.draws.count %></td>
            <td><%= user.loses.count %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td>Players: <%= @users.count %></td>
    <td></td>
    <td></td>
    <% if current_user.games.present? %>
        <td></td>
        <td></td>
        <td></td>
    <% end %>
  </tr>
  </tfoot>
</table>