<table>
  <caption>Results</caption>
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.score %></td>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td>Players: <%= @users.count %></td>
    <td></td>
    <td></td>
  </tr>
  </tfoot>
</table>