<p id="notice"><%= notice %></p>

<p>
  <strong>Home player:</strong>
  <%= @game.home_player.last_name %>
</p>

<p>
  <strong>Away player:</strong>
  <%= @game.away_player.last_name %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @game.away_score %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
