<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<%= link_to 'Users Rank 1', rank1_users_path, class: 'navbar-brand' %>
<%= link_to 'Users Rank 2', rank2_users_path, class: 'navbar-brand' %>
<%= link_to 'Users Rank 3', rank3_users_path, class: 'navbar-brand' %>
<%= link_to 'Games', games_path, class: 'navbar-brand' %>
